	<style type="text/css">

		header{
			background-image:url(thegirl.jpg);
			height: 100px;
			width: 500px;
			background-size: cover;
			background-position: center;
		}
		.uii{
			text-align: center;
			font-size: 2.5em;
			padding: 20px;
			font-family: cursive;
			border-radius: 10px;

		}
		h1{
			text-align: center;
			background: gray;
			color: black;
			border-radius: 10px;
		}
		h1:hover{
			background-color: green;
			}
		.yy{
			background: black;
			color: white;
			font-family: arial;
		}

		
	</style>